extends layout

block head-content
    link(rel="stylesheet" href="/style/chat.css")
    script(src="/js/chat.js")

block content
    header(class="header-container")
        h2 #{room.name}
        a(href="/rooms")
            button Change Room
    main(class="chat-container")
        div(class="chat-list-container")
            each msg in msgList
                div(class="chat-msg")
                    img(src=`https://avatars.dicebear.com/v2/gridy/${msg.user}.svg?options[width][]=500&options[height][]=500` alt="Avatar")
                    div(class="username-msg-wrapper")
                        span(class="username-msg") #{msg.user}
                        span(class="msg") #{msg.message}
                    div(class="timestamp-msg")
                        span= moment(msg.date).format('MMM Do YY')
                        span= moment(msg.date).format('hh:mm:ss a')

        div(class="input-msg-container")
            //- p User is typing...
            form(id="chat-form" class="chat-form")
                input(type="text" name="msg" id="msg" placeholder="Write your message..." autocomplete="off")
                button Send