table(class="history-table")
    thead
        tr
            th(id="col-username") Username
            th(id="col-room") Room
            th(id="col-message") Message
            th(id="col-date") Date
    tbody
        each elem in historyList
            tr(id=`${elem.id}`)
                td= elem.user
                td= elem.room.name
                td= elem.message
                td= moment(elem.date).format('MMM Do YY, hh:mm:ss a')