extends layout

block head-content
    link(rel="stylesheet" href="/style/admin.css")

block content
    header(class="header-container")
        h2 Admin Room
        div
            a(href="/admin")
                button Chat History
            a(href="/")
                button Back to Login
    main(class="history-container")
        table(class="history-table")
            thead
                tr
                    th(id="col-username") Username
                    th(id="col-room") Room
                    th(id="col-message") Event
                    th(id="col-date") Date
            tbody
                each elem in historyList
                    tr(id=`${elem.id}`)
                        td= elem.user
                        td= elem.room === null ? "" : elem.room.name
                        td= elem.event
                        td= moment(elem.date).format('MMM Do YY, hh:mm:ss a')

